# Dependencies
node_modules/
*/node_modules/

# Environment variables (JANGAN sampai ke GitHub!)
.env
*/.env
backend/.env

# Build folder React
attendance-frontend/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/